<h1> Hello World! </h1>

<h1>Log in to Play</h1>

<%= render "testfile", login: @login %>

<br>

<div id="test">
  custom login message
</div>

<br>

<div>
  <%= link_to "Back to logins",  root_path %>
</div>

<div>
  <%= link_to "Create an account",  new_login_path %>
</div>